Kivy
Kivy-Garden
Pygments
appdirs
certifi
chardet
distlib
docutils
filelock
idna
importlib-metadata
kivy-deps.angle
kivy-deps.glew
kivy-deps.sdl2
pip
pypiwin32
pywin32
requests
setuptools
six
urllib3
vboxapi
virtualenv
wheel
xlrd
xlutils
xlwt
zipp